.img{
    width: 500px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }

  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }

  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }

  /* Current/active navbar link */
  .active {
    background-color: #04AA6D;
  }

  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

.form{
    position: absolute;
    margin: auto;
    width: 500px;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
}

.inputs{
    margin: 1rem;
}

.submit{
    display: block;
    padding: .75rem 1.25rem;
    border: none;
    border-radius: 5px;
    background-color: dimgray;
    color: white;
    margin: 0 auto;
}

.submit:hover{
    cursor: pointer;
    font-weight: 600;
    background-color:darkgrey;
}

.inputs{
    align-items: center;
    text-align: center;
}

.input-group_id{
  display: none;
}
.input-group {
    margin: .5rem 0;
}

.content_input-group{
  margin-bottom: .75rem;
  color: #555;
  font-size: 1.5rem;
  font-weight: 700;
}

.content_input-group span{
  color: crimson;
}

.input-group input{
    padding: .25rem;
    height: 25px;
    width: 250px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .1);
}


.item__list-button{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item_button{
  border: none;
  padding: .35rem;
  border-radius: 3px;
  background-color: #C5DFF8;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  color: #435B66;
}

.item_button:hover{
  background-color: #7895CB;
  color: #F8F1F1;
}

.item_button:first-child{
  margin-right: 1rem;
}